body {
  margin: 0;
  padding: 0;
  background-color:rgb(139, 151, 162);
 }
.layout {
  width: 100%;
  height: 768px;
  
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.homer{
  width: 100%;
  height: 15vh;
  background-color: rgb(21, 74, 74);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homer .logo{
  width: 60px;
  margin: 2vh;
  margin-left: 8%;
}

.navbar{
  display: flex;
  margin-right: 4vh;
}

.company{
  color: white;
  font-size: 18px;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: 500;   
  text-decoration: none;
  transition: ease 0.40s;

  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: 40px;
}

.navbar a{
  color: white;
  font-size: 18px;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: 500;   
  text-decoration: none;
  transition: ease 0.40s;

  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: 25px;
}

.navbar a:hover,.navbar a.active{
  background: white;
  color: black;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 5px;
  
}


.container-destinos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
 }

img{

  width: 200px;
  height: 150px;
  border-radius: 5px;
  margin: 30px;
}

.roteiros-viagens{
  background-color: rgb(21, 74, 74);
  margin: 10px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  color:white;
}

ul {
  list-style-type: none;
}

 .container-destinos li::before {
  content: "✔";
  color:springgreen; 
  padding-right: 8px;
}

h3{
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: 35px;
}

.roteiro-preco{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.roteiro-obs{
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

.roteiro-parcelamento{
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

.roteiro-comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 152, 8);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  margin: 10px auto;
  transition: background-color 0.3s ease;
}
.roteiro-comprar a{
color: white;
text-decoration: none;
}
  
.roteiro-comprar:hover {
  background-color: rgb(0, 128, 0);
}

.roteiro-incluso{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
}
.footer {
  grid-area: footer;
  margin-top: auto;
}

.end {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  font-size: 20px;
}


